*.nemo
workspace/.ipynb_checkpoints
workspace/.Trash-0
workspace/model_analyzer_results

models/cache/huggingface
models/cache/matplotlib
models/cache/torch
models/custom/custom-nemo_gpt20B

models/triton_models/gpt