[submodule "models/nemo-megatron-gpt-20B"]
	path = models/nemo-megatron-gpt-20B
	url = https://huggingface.co/nvidia/nemo-megatron-gpt-20B
[submodule "FasterTransformer"]
	path = FasterTransformer
	url = https://github.com/NVIDIA/FasterTransformer.git
	branch = v5.3
[submodule "fastertransformer_backend"]
	path = fastertransformer_backend
	url = https://github.com/triton-inference-server/fastertransformer_backend.git
	branch = v1.4
